@media (max-width: 500px) {
  .explore {
    display: grid;
    grid-template-rows: 20% 20% auto;
  }

  .title {
    font-size: 35px;
    background-color: #8F90CB;
    color: white;
  }

  .filter_block {
    margin-top: 10px;
    font-size: 25px;
    background-color: #CCE6FA;
  }

  .input_field {
    width: 90vw;
    height: 30px;
  }

  .submit_btn {
    margin-top: 10px;
    background-color: #939BCB;
    width: 90vw;
    text-align: center;
    color: #FFFFFF;
  }
}

@media (min-width: 500px) {
.explore {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 20% auto;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  min-height: 100vh;
}

.title {
  grid-column: 1 / 3;
  font-size: 50px;
  text-align: center;
  color: #8F90CB;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #8F90CB;
  font-weight: bold;
}

.filter_block {
  gird-column: 1 / 2;
  padding: 5px;
  margin-left: 5px;
  height: 300px;
  background-color: #C0C1F1;
  border-radius: 5px;
  overflow: auto;
}

.input_field {
  height: 20px;
  width: 90%;
}

.submit_btn {
  margin-top: 5px;
  background-color: #939BCB;
  width: 80%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.submit_btn:hover {
  background-color: #65ABAF;
}

.latest_props {
  margin-top: 20px;
}

#latest_btn {
  width: 90%;
  padding: 3px;
}
}
