@media (max-width: 500px) {

  .title_list {
    display: grid;
    grid-template-rows: repeat(4, auto);
  }

  .info_block {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
  }

  .sub_title  {
    grid-column: 1 / 5;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .block_elmt {
    width: 25vw;
    height: 20px;
    margin: 2px;
  }

  .latest_filter {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 50vw 50vw;
    grid-column-gap: 5px;
  }

  .input_prop_f {
    text-align: right;
    align-self: center;
  }

   #filter_input {
    width: 80%;
  }

  #filter_btn {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 80%;
  }

  #clear_btn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 80%;
  }

  .title_block {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: repeat(10 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 5px;
  }

  .device_img {
    width: 45vw;
    height: 45vw;
    background-color: #B6E9EF;
    text-align: center;
    color: white;
    font-size: 40vw;
  }

  .device_name {
    text-align: center;
    align-self: center;
  }
}

@media (min-width: 500px) {
.title_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% 10% 40% 40%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  min-height: 90%;
}

.info_block {
  background-color: #FFFFFF;
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 50% repeat(4, 50px);
  grid-columns-gap: 10px;
  border-top: 1px dashed #65ABAF;
  border-bottom: 1px dashed #65ABAF;
}

.latest_filter {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
}

.input_prop_f {
  text-align: right;
  align-self: center;
}

.sub_title {
  font-size: 30px;
  align-self: center;
}

.block_elmt {
  align-self: center;
  text-align: center;
}

#page_submit {
  justify-self: center;
  align-self: center;
}

.page_btn {
  width: 50%;
  border: 1px solid #939BCB;
  color: #939BCB;
}

.page_btn:hover {
  background-color: #65ABAF;
  color: #FFFFFF;
}

.title_block {
  padding: 2px;
  display: grid;
  grid-template-rows: 80% 20%;
  cursor: pointer;
}

.title_block:hover {
  border: 1px solid #B5C2EC;
}

.device_img {
  font-size: 30vh;
  background-color: #CAD5F5;
  color: #EBF5F5;
  width: 100%;
}

.device_name, .device_img {
  justify-self: center;
}

.loading {
  color: #82C6B3;
  font-size: 50px;
}

.failure_block {
  text-align: center;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.fail_sign {
  width: 40px;
  height: 40px;
  background-color: #EB573B;
  border-radius: 100%;
  font-size: 35px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.fail_text {
  margin-top: 2px;
  color: #EB573B;
}
}